* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
}

/* start header */
.header {
    padding: 10px 0;
    text-transform: uppercase;
}

.header nav {
    display: flex;
    justify-content: space-around;
}

.header nav:nth-child(1) p {
    font-weight: bold;
}

.header nav:last-child i {
    font-size: 20px;
}

/* end header */

/* start main */

/* start section-1 */
.home {
    margin: 20px 10px;
}
.home .information {
    margin-bottom: 40px;
}
.home .information div {
    margin: 20px 0;
    border-radius: 5px;
}

.home .information input {
    width: 90%;
    height: 40px;
    margin: auto;
    display: block;
    background-color: #E8EDF5;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.home .information .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 10px;
    margin: auto;
}

.home .information .total .users, .sales, .revenue {
    background-color: #E8EDF5;
    padding: 10px;
    width: 90%;
    text-align: center;
}

.home .information .revenue {
    margin: auto;
}

/* ######################### */

.home .recent {
    width: 90%;
    margin: auto;
}

.recent h2 {
    margin: 10px 0;
}
.recent .products .carda, .cardb, .cardc {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.carda p, .cardb p, .cardc p {
    color: #4A739C;
}
/* end section-1 */

/* end main */