* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
}

/* start header */
.header {
    padding: 10px 0;
    text-transform: uppercase;
}

.header nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.header nav:nth-child(1) p {
    font-weight: bold;
}

.header nav:last-child i {
    font-size: 20px;
}

/* end header */

/* start main */

/* start section-1 */
.home {
    margin: 20px 10px;
}
.home .information {
    margin-bottom: 40px;
}
.home .information div {
    margin: 20px 0;
    border-radius: 5px;
}

.home .information input {
    width: 90%;
    height: 40px;
    margin: auto;
    display: block;
    background-color: #E8EDF5;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.home .information .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 10px;
    margin: auto;
}

.home .information .total .users, .sales, .revenue {
    background-color: #E8EDF5;
    padding: 10px;
    width: 90%;
    text-align: center;
}

.home .information .revenue {
    margin: auto;
}

/* ######################### */

.home .recent {
    width: 90%;
    margin: auto;
}

.recent h2 {
    margin: 10px 0;
}
.recent .products .carda, .cardb, .cardc {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.carda p, .cardb p, .cardc p {
    color: #4A739C;
}
/* end section-1 */

/* start section -2 analytics */
.analytics {
    margin: auto;
    width: 90%;
}

.analytics h2 {
    text-align: center;
    margin: 20px 0;
}

/* overview */

.analytics .overview div {
    margin: 20px 0;
    border-radius: 5px;
}
.analytics .overview span {
    color: green;
}

.analytics .overview .NewUser {
    margin: auto;
}

.analytics .overview .OVTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 10px;
    margin: auto;
}
.analytics .overview .OVTotal .TOTUser, .ActiveUser, .NewUser {
    border: 1px solid #c5c5c5;
    padding: 10px;
    width: 90%;
    text-align: center;
}

/* engagnent */
.analytics .engagment, .ANAsales {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.analytics .engagment h3, .ANAsales h3 {
    margin: 20px 0;
}

.analytics .engagment .engagContent, .SessionDuration, .salesContent, .revenueOverTime  {
    border: 1px solid #c5c5c5;
    padding: 10px;
    width: 60%;
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

.analytics .engagment .engagContent img, .SessionDuration img, .salesContent img, .revenueOverTime img {
    width: 100%;
    margin: 10px 0;
}

@media (max-width: 767px) {
    .analytics .engagment .engagContent, .SessionDuration, .salesContent, .revenueOverTime {
        width: 90%;
    }
}
.analytics .engagment .engagContent span, .SessionDuration span, .salesContent span, .revenueOverTime span {
    color: gray;
}
.analytics .engagment .engagContent .green, .salesContent .green, .revenueOverTime .green {
    color: green;
}
.analytics .engagment .SessionDuration .red {
    color: red;
}
/* end section -2 analytics */

/* end main */


/* start footer */

footer {
    margin-top: 60px;
    border-top: #4A739C 1px dashed;
}

footer .items {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .items div i {
    font-size: 30px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    color: #4A739C;
}

footer .items div .active {
    color: black;
}

/* end footer */
